*.iso
*.box
*.qcow2
*.vhd
build-windows-core/

.packer/
packer_cache/
packer/packer-vm-tmp/
packer/build-artifacts/
*.pkrvars.hcl

.vagrant/


.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

.ansible/
*.retry

.DS_Store
Thumbs.db